@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

.sub-menu1{
    display: none;
}
.nav__links li:hover .sub-menu1{
    display: block;
    position: absolute;
    margin-top: 0px;
    margin-left: -12px;
}
.nav__links li:hover .sub-menu1 a{
    font-size: 12px;
}
.nav__links li:hover .sub-menu1 ul li{
    text-align: left;
}
section{
    padding: 3rem 0;
}

.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
    color: #edf0f1;
}

img{
    display: block;
    max-width: 50%;
    border-radius: 60%;    
}

.split{
    display: flex;
}

p{
    font-size: 20px;
}

.resim{
    margin: 20px;
}

.tanitim1{
    margin-top: 40px;
}

.insta{
    display: block;
    width: 50%;
    justify-content: center;
}
.dota2{
    display: block;
    width: 50%;
    align-items: center;
    
}
.gym{
    display: block; 
    width: 50%;
    align-items: center;     
} 

.gym img{
    height: 80px;
}
.dota2 img { margin:0 auto; }
.gym img { margin:0 auto; }
.insta img{margin:0 auto;} 