@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

 li,a,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1; 
    text-decoration: none;
} 

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

.sub-menu1{
    display: none;
}
.nav__links li:hover .sub-menu1{
    display: block;
    position: absolute;
    padding-top: 0px;
    margin-left: -12px;
}
.nav__links li:hover .sub-menu1 a{
    font-size: 12px;
}
.nav__links li:hover .sub-menu1 ul li{
    text-align: left;
}

.baslik{
    text-align: center;
    color:#FA8072;
    background-attachment: fixed;
    overflow:hidden;
}

.split{
    display: flex;
}

.nufus-rakim{
    display: block;
    width: 50%;
    text-align: center;
    padding-top: 50px;
    text-decoration-line: underline;
    color: #FFE4C4;
}

.nufus-rakimbilgi{
    display: block;
    width: 50%;
    text-align: center;
    color: #FFE4C4;
}

.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

img{
    display: block;
    margin-right: 10px;
}
.tarihce1 h2{
    color: #006eff;
}
.tarihce1 p{
    color: #edf0f1;
    font-size: 16px;
}

section{
    padding-top: 40px;
} 

.tarihce2{
    color: #edf0f1;
    font-size: 16px;
    background-attachment: fixed;
    overflow:hidden;
}

.turistik-baslik{
    color: #006eff;
    padding-top: 20px;
    padding-left: 200px;
    background-attachment: fixed;
    overflow:hidden;
}

section h2{
    padding-left: 200px;
    padding-bottom: 10px;
    color: #40E0D0;
}

.img-pamukkale img{
    display: block;
    max-width: 90%;
}
.pamukkale p{
    color: #edf0f1;
    font-size: 16px;
}

.hierapolis p{
    color: #edf0f1;
    font-size: 16px;
}

.keloğlan p{
    color: #edf0f1;
    font-size: 16px;
}

.img-keloğlan img{
    display: block;
    max-width: 90%;
}

.antikHavuz p{
    color: #edf0f1;
    font-size: 16px;
}


.carousel-item img{
    width: 50%;
   margin: auto;
}
